@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: poppins,sans-serif;
}

body{
    background-color: #242430;
 
    
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    
}
.header{ 
    display: flex;
    align-items: center;
    min-height: 80vh;
    
 }
.swiper-slide{
    display: flex;
    padding: 0 80px 50px 80px;
    justify-content: center;
    align-items: center;
}
.swiper-button-prev::after{
    font-size: 25px;
}
.swiper-button-next::after{
    font-size: 25px;
}
.swiper-button-prev{
    color: #feffff;
}
.swiper-button-next{
    color: #feffff;
}
.swiper-pagination-bullet{
    background-color: #747474;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #7270ec;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 80px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    z-index: 1000;
}
.logo{
    width: 4%;
}
.menu .navbar ul li {
    position: relative;
    float: left;
    
}
.menu
.navbar ul li a{
    font-size: 29px;
    padding: 20px;
    color: #feffff;
    display: block;


}
.menu .navbar ul li a:hover{
    color: #7270ec;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    display: none;
    cursor: pointer;
}
.submenu img{
    width: 45px;
}
.submenu{
    position: relative;
}
.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4e4b5076;
    padding: 20px;
    min-width: 400px;
}
table{
    width: 100%;
}
th,
td{
    color: #feffff;
}
.borrar{
    background-color: #7270ec;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #feffff;
    font-weight: 800;
}
.header-content{
    padding: 200px 0 100px 0;
}
.header-info{
    display: flex;
}
.header-txt{
    width: 50%;
}
.header-txt h1{
    font-size: 100px;
    color: #feffff;
    text-transform: capitalize;
}
.header-img{
    width: 50%;
    text-align: right;
}
.header-img img{
    width: 500px;
}
.precios{
    display: flex;
    margin: 20px 0;
}
.precio-1{
    font-size: 30px;
    color: #74788f;
    text-decoration: line-through;
    margin-right: 25px;
}
.precio-2{
    font-size: 50px;
    color: #7270ec;
}
.btn-1{
    display: inline-block;
    background-color: #7270ec;
    color: #feffff;
    font-size: 26px;
    padding: 10px 25px;
    border-radius: 25px;
    margin-top: 40px;
}
.btn-1:hover{
    background-color: #6c69f9;
}
hr{
    border: 1px solid #7a7b8f16;
}
.promos{
    padding: 50px 0;
    text-align: center;  
    
}
.promos h2{
    font-size: 80px;
    color: #f5f2f2;
    margin-bottom: 35px;
    
    
}
.categories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 100px;
    
}
.categorie{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
}
.categorie h2{
    font-size: 24px;
    text-align: center;
}
.categorie img{
    width: 200px;
}
.categoria-1{
    width: 50%;
}
.categoria-1 h3{
    color: #ebe7e7;
    font-size: 22px;
    font-weight: 600;
}
.categoria-1 p{
    color: #74788f;
    font-size: 20px;
    margin-left: 18px;
}
.categorias-img{
    width: 50%;
}
.product img{
    width: 200px;
    padding-bottom: 15px;
}
.products h2{
    font-size: 60px;
    color: #feffff;
    margin-bottom:  50px;
}
.products{
    text-align: center;
}
.product a{
    color: #feffff;
}
.product-text h3{
    font-size: 22px;
    color: #feffff;
    margin-bottom: 15px;
}
.product-text p{
    color: #74788f;
    font-size: 18px;
    margin-bottom: 15px;
}
.precio{
    color: #7270ec !important;
}
.btn-3{
    color:#feffff ;
    display: inline-block;
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 15px;
    margin-top: 15px;
    border: 1px solid #7270ec;
}
.btn-3:hover{
    background-color: #6c69f9;
}
.footer{
    display: flex;
    padding: 30px 0;
}
.link{
    width: 20%;
}
.link h3{
    color: #feffff;
    margin-bottom: 20px;
}
.link a{
    color: #74788f;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
}
.link p{
    color: #74788f;
    font-size: 16px;
}
@media(max-width:991px){
    
    .menu{
        padding: 20px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top:100%;
        left: 0;
        right: 0;
        background-color: #1f1e1e;
        display: none;
        
    }
    .menu .navbar ul li{
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .logo{
        display: none;
    }
    .submenu:hover #carrito{
        min-width: 100%;
    }
    .mySwiper-1{
        width: 300px;
    }
    .swiper-slide{
        padding: 0 30px 50px 30px;
    }
    .header-content{
        padding: 100px 0 50px 0;
    }
    .header-info{
        padding: 0;
        flex-direction: column;
        text-align: center;
    }
   
    .header-txt{
        width: 100%;
    }
    .header-txt h1{
        font-size: 40px;
    }
   
    .header-img{
        width: 100%;
    }
    .header-img img{
        width: 200px;
    }
    .precios{
        flex-direction: column;
    }
    .precio-1{
        margin: 0;
    }
    .btn-1{
        margin: 20px 0;
    }
    .promos{
        padding: 50px;
    }
    .promos h2{
        font-size: 30px;
        margin-bottom: 0;
    }
    .categories{
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      flex-direction: column;  
    }
    .categorie{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }
    .categoria-1{
        width: 100%;
        margin-bottom: 25px;
        order: -1;
    }
    .categorias-img{
        width: 100%;
    }
    .products{
        padding: 30px;
    }
    .products h2{
        font-size: 40px;
        margin-bottom: 40px;
    }
    .footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .link{
        width: 100%;
    }

}