@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    scroll-behavior:smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: poppins,sans-serif;
}

body{
    background-color: #e5e2e2;
 
    
}
.container{
    margin: 0 auto;
}
.header{ 
    flex-direction: column;
    background-color: #feffff;
    display: flex;
    align-items: center;
    min-height: 80vh;
    
 }
.swiper-slide{
    display: flex;
    padding: 0 80px 50px 80px;
    justify-content: center;
    align-items: center;
}
.swiper-button-prev::after{
    font-size: 35px;
}
.swiper-button-next::after{
    font-size: 35px;
}
.swiper-button-prev{
    color: #2a2c2c;
}
.swiper-button-next{
    color: #2a2c2c;
}
.swiper-pagination-bullet{
    background-color: #747474;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #1cf0cd;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 80px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    z-index: 1000;
    background-color: #2d6546;
}
.logo{
    width: 4%;
}
.menu .navbar ul li {
    position: relative;
    float: left;
    
}
.menu
.navbar ul li a{
    font-size: 29px;
    padding: 20px;
    color: #ecf0f0;
    display: block;


}
.menu .navbar ul li a:hover{
    color: #1cf0cd;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    display: none;
    cursor: pointer;
}
.submenu img{
    width: 45px;
}
.submenu{
    position: relative;
}
.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4e4b5076;
    padding: 20px;
    min-width: 400px;
    border-radius: 5px;
}
table{
    width: 100%;
}
th,
td{
    color: #1b1c1b;
}
.header-content{
    max-width: 1024px;
    padding: 200px 0 100px 0;
}
.header-info{
    display: flex;
}
.header-txt{
    width: 50%;
}
.header-txt h1{
    font-size: 45px;
    color: #141616;
    text-transform: capitalize;
}
.header-img{
    width: 50%;
    text-align: right;
}
.header-img img{
    width: 500px;
    
}
.precios{
    display: flex;
    margin: 20px 0;
}
.precio-1{
    font-size: 30px;
    color: #74788f;
    text-decoration: line-through;
    margin-right: 25px;
}
.precio-2{
    font-size: 50px;
    color: #050505;
}
.btn-1{
    display: inline-block;
    background-color: #2d6546;
    color: #feffff;
    font-size: 26px;
    padding: 10px 25px;
    border-radius: 25px;
    margin-top: 40px;
}
.btn-1:hover{
    background-color: #1cf0cd;
}
hr{
    border: 6px solid #2d6546;
}
.promos{
    padding: 50px 0;
    text-align: center;
    width: 100%;
}
.promos h2{
    font-size: 80px;
    color: #050505;
    margin-bottom: 35px; 
}
#product-list {
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
    gap: 20px; 
}
.product {
    width: calc(25%-25px);
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    padding: 25px;
}
.product:hover {
    transform: translateY(-5px);
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border-bottom: 1px solid #ddd;
}

.product .product-text {
    padding: 10px 0;
}

.product .product-text h3 {
    font-size: 22px;
    margin-bottom: 5px;
}

.product .product-text p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    max-width: 500px;
    text-align: center;
}

.product .product-text .precio-2 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

.product .product-text .add-carrito {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.product .product-text .add-carrito:hover {
    background-color: #45a049;
}

.product img{
    width: 30%;
    padding-bottom: 15px;
}
.products h2{
    font-size: 68px;
    color: #131313;
    margin-bottom:  50px;
}
.products{
    background-color: #ffffff;
    text-align: center;
    max-width: 1200px;
    border-radius: 8px;
}
.products h1{
    font-size: 34px;
}
.products img{
    max-width: 300px;
}

.precio-2{
    color: #060608 ;
}
.btn-3{
    color:#feffff ;
    display: inline-block;
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 15px;
    margin-top: 15px;
    border: 1px solid #1cf0cd;
}
.btn-3:hover{
    background-color: #1cf0cd;
}


/*Formulario de contacto */
#contacto {
    padding: 2rem;
    background: #f4f4f4;
    margin-top: 2rem;
    text-align: center;
  }
  #contacto h2{
    font-size: 34px;
  }
  
  #contact-form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .error {
    color: red;
    font-size: 0.875rem;
    display: none;
  }
  
  .success {
    color: green;
    font-size: 1rem;
    display: none;
    margin-top: 1rem;
    text-align: center;
  }
  
  button[type="submit"] {
    background: #007bff;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
  }
  /* Footer Styles */
.footer {
    color: #141414;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
  }
  
  .footer-section {
    width: 20%;
    min-width: 200px;
    margin: 10px 20px;
  }
  
  .footer h3 {
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 24px;
  }
  .logo-footer img{
    width: 48%;
  }
  
  .footer-section-1 ul {
    list-style: none;
    padding: 0;
    font-size: 28px;
   
  }
  
  .footer-section ul li {
    margin: 15px 0;
}
.footer-section-1{
    width: 22%;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    margin: 10px 20px;
}
.footer-section-1 img{
    width: 14%;
}

.footer-section-1 ul li a {
    color: #060505;
    gap: 45px;
    text-decoration: none;
  }
  
  .footer-section-1 ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-section p {
    margin: 10px 0;
    font-size: 16px;
  }
  
  .footer-rights {
    text-align: center;
    flex-basis: 100%;
    margin-top: 20px;
    font-size: 14px;
  }
  
  
@media(max-width:991px){
  
    .menu {
        padding: 20px;
        
      }
      
      .menu label {
        display: initial;
        cursor: pointer;
      }
      
      .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #2d6546;
        display: none;
      }
      
      .navbar.active {
        display: block;
      }
      
      .menu .navbar ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      .menu .navbar ul li {
        width: 100%;
        text-align: center;
      }
      
      .menu .navbar ul li a {
        display: block;
        padding: 10px;
        color: #fff;
        text-decoration: none;
      }
      
      .menu .navbar ul li a:hover {
        background-color: #333;
      }
    
    
    .logo{
        display: none;
    }
    .submenu:hover #carrito{
        min-width: 100%;
    }
    .mySwiper-1{
        width: 300px;
    }
    .swiper-slide{
        padding: 0 30px 50px 30px;
    }
    .header-content{
        padding: 100px 0 50px 0;
    }
    .header-info{
        padding: 0;
        flex-direction: column;
        text-align: center;
    }
   
    .header-txt{
        width: 100%;
    }
    .header-txt h1{
        font-size: 20px;
    }
   
    .header-img{
        width: 100%;
        padding: 14px;
    }
    .header-img img{
        width: 200px;
    }
    .precios{
        gap: 20px;
    }
    .header-txt a{
        font-size: 12px;
    }
    .precio-1{
        margin: 0;
        font-size: 15px;
    }
    .precio-2{
        font-size: 18px;
    }
    .btn-1{
        margin: 20px 0;
    }
    .promos{
        padding: 50px;
    }
    .promos h2{
        font-size: 30px;
        margin-bottom: 0;
    }
    #product-list{
      grid-template-columns: repeat(1, 1fr);  
    }
    .products{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }
    .products h2{
        font-size: 22px;
    }
    .products img{
        max-width: 100px;
        text-align: center;
        
        margin-right: 42px;
    }
    .products h1{
        font-size: 12px;
        margin-bottom: 40px;
    }
    .footer {
        flex-direction: column;
        text-align: center;
        font-size: 22px;
        justify-content: center;
        align-items: center;
    }
    .footer-section-1 img{
        width: 16%;
    }
    .footer-section-1 {
        margin: 20px 0;
      }
      .footer-section-1 ul li a{
        color: #060505;
      }
    .footer-section{
        margin: 20px 0;
      }
    
    .footer-rights {
        font-size: 8px;
        margin-top: 10px;
      }
    .footer-section ul{
        font-size: 14px;
      }
    .footer-section p{
        font-size: 14px;
      } 
    
    }